// Định dạng container
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

// Tiêu đề của bảng
.service-clinic {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.form-controll {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 20%;
  margin-left: 180px;
}

.table-service {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;

  th {
    background-color: #f8f9fa;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    text-align: left; // Căn lề trái cho tiêu đề
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;

    &:nth-child(1) {
      text-align: left; // Căn lề phải cho số thứ tự
    }

    &:nth-child(2) {
      text-align: left; // Căn lề trái cho tên dịch vụ
    }

    &:nth-child(3) {
      text-align: left; // Căn lề phải cho số tiền
      text-indent: -20px;
    }
  }

  tr:nth-child(even) {
    background-color: #f2f2f2; // Màu nền xen kẽ
  }

  tr:hover {
    background-color: #e9ecef; // Hiệu ứng hover
  }
}
