.body-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 796px;
  border: 1px solid #2976b5;
  background-color: #1974dc;
  color: #ffffff;
  gap: 20px;
  position: relative;

  .description-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;

    .description_1 {
      font-family: "Roboto";
      font-size: 40px;
      font-weight: 600;
      line-height: 46.88px;
      text-align: center;
    }

    .description_2 {
      width: 80%;
      text-align: center;
      margin: 10px 0;
      font-family: "Roboto";
      font-size: 24px;
      font-weight: 400;
      line-height: 28.13px;
      text-align: center;
      max-width: 801px;
      margin-bottom: 20px;
    }

    /* Container for input and search icon */
    .search-container {
      position: relative;
      width: 809px;

      .search-input {
        width: 100%;
        height: 70px;
        padding: 0 60px 0 26px; /* Padding right for icon */
        border-radius: 50px;
        border: none;
        outline: none;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 400;
        line-height: 18.75px;
        background-color: white; /* Optional: Make input background white */
        color: black;
      }

      .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        color: #2976b5;
        cursor: pointer;
        right: 25px;
      }
    }
  }

  .img-home-page {
    width: 800px;
    height: 615.38px;
    position: absolute;
    z-index: 0;
    right: 60px;
  }
}
