.sidebar {
    width: 25%;
    background-color: #ffffff;
    padding: 1.5rem;
  
    nav {
        ul {
            list-style: none;
            padding: 0;
  
            li {
                margin-bottom: 1rem;
  
                a {
                    text-decoration: none;
                    color: #4b5563;
                    font-weight: 400;
  
                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }
    }
  }